.git
.gitignore
.env
.venv
venv
__pycache__
.pytest_cache
*.pyc
.mypy_cache
.ruff_cache
.cache
huggingface_cache
sentence_transformers
Screenshots
node_modules
data/index
data/eval_results
dataset
*.pdf
*.pkl
*.log
secrets.txt
src/.env
asklawyers-ec2.pem
access_chat_endpoint.py
